<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h4>
      <ul>
        <% movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :director %>
    <%= form.text_field :director, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :release_year %>
    <%= form.number_field :release_year, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :rating %>
    <%= form.select :rating, options_for_select(["G","PG","PG-13","R","NC-17","Unknown"], movie.rating), {}, class: "form-select" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
